body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

html,
body {
  height: 99.5%;
}
.header {
  padding-top: 2rem;
  text-align: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.h1 {
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
}

.author {
  font-family: "Nunito", sans-serif;
  font-size: 23px;
}

.my-github {
  color: navy;
  text-decoration: none;
}

.my-github:hover {
  text-decoration: underline navy;
}

.title {
  width: 150px;
  height: 55px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  border-width: 2px;
  text-align: center;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
	color: #000;
}
.card a{
	text-decoration: none;
}
@media screen and (min-width: 325px) {
  .card {
    width: 395px;
  }
}
