:root {
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
}

.page {
  margin-top: 4rem;
  text-align: center;
}

.page__firstContent {
  font-family: "Libre Franklin", "sans-serif";
}

.page__firstContent h1 {
  font-weight: 300;
  font-size: 40px;
  color: var(--Gray);
}

.page__firstContent h1 span {
  font-weight: 700;
  color: var(--VeryDarkBlue);
}

.firstContent__subscribe {
  margin-top: -1rem;
}

#email {
  font-family: "Libre Franklin", "sans-serif";
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 40px;
  border: 1px solid var(--PaleBlue);
  width: 350px;
  height: 50px;
  padding: 1.25rem;
  outline: none;
  color: var(--VeryDarkBlue);
  margin-right: 5px;
}

#email::placeholder {
  color: var(--Gray);
}

#validate {
  font-family: "Libre Franklin", "sans-serif";
  font-weight: 600;
  border-radius: 30px;
  border: none;
  width: 180px;
  height: 50px;
  color: #fff;
  background-color: var(--Blue);
  cursor: pointer;
  box-shadow: 0px 5px 10px var(--PaleBlue);
}

#validate:hover {
  opacity: 0.5;
  transform: translate(0, -2px);
  transition: all 0.25s ease;
}

form {
  display: flex;
  justify-content: center;
}

.page__dashboardImage {
  margin-top: 4%;
}

.dashboardImage__image {
  width: 35%;
}

.page__socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.input {
  color: var(--LightRed);
  margin-top: 3px;
  font-style: italic;
  font-size: 11px;
  font-weight: bold;
  margin-left: 20px;
  text-align: left;
  visibility: hidden;
}

.input.v {
  visibility: visible;
}

.socialMediaIcons__icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25px solid var(--PaleBlue);
  color: var(--Blue);
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.page__footer {
  font-family: "Libre Franklin", "sans-serif";
  color: var(--Gray);
  font-size: 11px;
}

@media screen and (max-width: 420px) {
  .page__firstContent h1 {
    font-size: 30px;
  }
  .firstContent__subscribe {
    margin-top: 1rem;
  }
  #email {
    width: 330px;
  }
  #validate {
    width: 330px;
    margin-top: 1rem;
  }
  .dashboardImage__image {
    width: 350px;
    height: 225px;
  }
  .socialMediaIcons__icon {
    margin-top: 1.5rem;
  }
  .page__footer {
    margin-top: 1rem;
  }
}
